@model LoginViewModel
@{
    ViewBag.Title = "Login";
   
}


<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" class="ie"lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7"  class="ie"lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8"  class="ie"lang="en-US">
<![endif]-->
<!--[if IE 9]>
<html id="ie9"  class="ie"lang="en-US">
<![endif]-->
<!--[if gt IE 9]>
<html class="ie"lang="en-US">
<![endif]-->
<!-- This doesn't work but i prefer to leave it here... maybe in the future the MS will support it... i hope... -->
<!--[if IE 10]>
<html id="ie10"  class="ie"lang="en-US">
<![endif]-->
<!--[if !IE]>
<html lang="en-US">
<![endif]-->
<!-- START HEAD -->
<head>
    <meta charset="UTF-8" />

    <!-- this line will appear only if the website is visited with an iPad -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, user-scalable=yes" />



    <title>Teknik Servis | Servis Bizim İşimiz</title>

    <!-- RESET STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="../assest/css/reset.css" />
    <!-- BOOTSTRAP STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="../assest/css/bootstrap.css" />
    <!-- MAIN THEME STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="../assest/style.css" />

    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- [favicon] end -->
    <!-- Touch icons more info: http://mathiasbynens.be/notes/touch-icons -->
    <!-- For iPad3 with retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x.png" />
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="../assest/apple-touch-icon-57x.png" />
    <link rel='stylesheet' id='thickbox-css' href='../assest/js/thickbox/thickbox.css' type='text/css' media='all' />
    <link rel='stylesheet' id='usquare-css-css' href='../assest/sliders/usquare/css/frontend/usquare_style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-css' href='http://fonts.googleapis.com/css?family=Playfair+Display%7COpen+Sans+Condensed%3A300%7COpen+Sans%7CShadows+Into+Light%7CMuli%7CDroid+Sans%7CArbutus+Slab%7CAbel&#038;ver=3.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../assest/css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='polaroid-slider-css' href='../assest/sliders/polaroid/css/polaroid.css' type='text/css' media='all' />
    <link rel='stylesheet' id='ahortcodes-css' href='../assest/css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-css' href='../assest/css/contact_form.css' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css' href='../assest/css/custom.css' type='text/css' media='all' />

    <style type="text/css">
        body {
            background-color: #ffffff;
            background-image: url('../assest/images/bg-pattern.png');
            background-repeat: repeat;
            background-position: top left;
            background-attachment: scroll;
        }
    </style>

    <script type='text/javascript' src='../assest/js/jquery/jquery.js'></script>


</head>
<!-- END HEAD -->
<!-- START BODY -->
<body class="home page no_js responsive stretched">

    <!-- START BG SHADOW -->
    <div class="bg-shadow">

        <!-- START WRAPPER -->
        <div id="wrapper" class="container group">

            <!-- START TOP BAR -->


            @{Html.RenderAction("MenuPartial", "Home");}



            <div id="content-page" class="span9 content group">
                <div class="page type-page status-publish hentry group">



                    @Html.ValidationSummary()
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-page" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="login-header margin-bottom-30">
                            <h3 style="font-family:'Times New Roman'">Kullanıcı Bilgilerinizi Giriniz </h3>
                        </div>

                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>


                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Kullanıcı Adı Giriniz" })
                        </div>

                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Şifrenizi Giriniz", type = "Password" }) <br />
                            <button style="margin-top:-7px;background-color:#d5d5d5; border-radius:4px 4px;" type="submit">Kayıt Ol</button>
                        </div>
                      
                    }
                </div>
            </div>










                            <!-- END PRIMARY -->
                            <!-- START FOOTER -->
                            <div id="footer">
                                <div class="container">
                                    <div class="row">
                                        <div class="footer-widgets-area with-sidebar-right">
                                            

                                            

                                            
                                        </div>

                                        <div class="footer-widgets-sidebar with-sidebar-right">
                                            <div class="widget-first widget span6 yit_quick_contact">
                                                <h3>Get in touch</h3>

                                                <form class="contact-form row" method="post" action="" enctype="multipart/form-data">

                                                    <div class="usermessagea"></div>
                                                    <fieldset>
                                                        <ul>
                                                            <li class="text-field with-icon span3">
                                                                <label>
                                                                    <span class="mainlabel">Name</span>
                                                                </label>

                                                                <div class="input-prepend">
                                                                    <span class="add-on">
                                                                        <img src="../assest/images/footer/author-footer.png" alt="" title="" />
                                                                    </span>
                                                                    <input type="text" name="yit_contact[name]" class="with-icon required" value="" />
                                                                </div>
                                                                <div class="msg-error"></div>
                                                                <div class="clear"></div>
                                                            </li>

                                                            <li class="text-field with-icon span3">
                                                                <label>
                                                                    <span class="mainlabel">Email</span>
                                                                </label>

                                                                <div class="input-prepend">
                                                                    <span class="add-on">
                                                                        <img src="../assest/images/footer/envelope-footer.png" alt="" title="" />
                                                                    </span>
                                                                    <input type="text" name="yit_contact[email]" class="with-icon required email-validate" value="" />
                                                                </div>
                                                                <div class="msg-error"></div>
                                                                <div class="clear"></div>
                                                            </li>

                                                            <li class="textarea-field with-icon span6">
                                                                <label>
                                                                    <span class="mainlabel">Message</span>
                                                                </label>

                                                                <div class="input-prepend">
                                                                    <span class="add-on">
                                                                        <img src="../assest/images/footer/pencil-footer.png" alt="" title="" />
                                                                    </span>
                                                                    <textarea name="yit_contact[message]" rows="8" cols="30" class="with-icon required"></textarea>
                                                                </div>
                                                                <div class="msg-error"></div>
                                                                <div class="clear"></div>
                                                            </li>

                                                            <li class="submit-button span6">
                                                                <div style="position:absolute;left:-9999px;">
                                                                    <input type="text" name="email_check_2" id="email_check_2" value="" />
                                                                </div>
                                                                <input type="hidden" name="yit_action" value="sendemail" id="yit_action" />
                                                                <input type="hidden" name="yit_referer" value="index.html" />
                                                                <input type="hidden" name="id_form" value="228" />
                                                                <input type="submit" name="yit_sendemail" value="SEND" class="sendmail alignright" />
                                                                <div class="clear"></div>
                                                            </li>
                                                        </ul>
                                                    </fieldset>
                                                </form>

                                                <script type="text/javascript">
                                                    var messages_form_228 = {
                                                        name: "Insert the name",
                                                        email: "Insert a valid email",
                                                        message: "Insert a message"
                                                    };
                                                </script>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END FOOTER -->
                            <!-- START COPYRIGHT -->
                            <div id="copyright">
                                <div class="container">
                                    <div class="row">
                                        <div class="left span6">
                                            <p>
                                                <a><img src="" alt="Your Inspiration Themes" style="position:relative; top:9px; margin: -22px 5px 0 0;"></a>&nbsp;Copyright 2012 - <strong>Libra theme</strong> by
                                                Your Inspiration Themes
                                            </p>
                                        </div>
                                        <div class="right span6">
                                            <p>
                                                <a href="http://yithemes.com/themes/wordpress/libra-corporate-portfolio-wp-theme/?ap_id=libra-html"><strong>Download the free version for Wordpress</strong></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END COPYRIGHT -->

                            <div class="wrapper-border"></div>

                        </div>
        <!-- END WRAPPER -->

                    </div>
    <!-- END BG SHADOW -->

                        <script type='text/javascript' src='../assest/js/comment-reply.min.js'></script>
                        <script type='text/javascript' src='../assest/js/underscore.min.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery/jquery.masonry.min.js'></script>
                        <script type='text/javascript' src='../assest/sliders/polaroid/js/jquery.polaroid.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery.colorbox-min.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery.easing.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery.carouFredSel-6.1.0-packed.js'></script>
                        <script type='text/javascript' src='../assest/js/jQuery.BlackAndWhite.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery.touchSwipe.min.js'></script>
                        <script type='text/javascript' src='../assest/sliders/polaroid/js/jquery.transform-0.8.0.min.js'></script>
                        <script type='text/javascript' src='../assest/sliders/polaroid/js/jquery.preloader.js'></script>
                        <script type='text/javascript' src='../assest/js/responsive.js'></script>
                        <script type='text/javascript' src='../assest/js/mobilemenu.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery.superfish.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery.placeholder.js'></script>
                        <script type='text/javascript' src='../assest/js/contact.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery.tipsy.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery.cycle.min.js'></script>
                        <script type='text/javascript' src='../assest/js/shortcodes.js'></script>
                        <script type='text/javascript' src='../assest/js/jquery.custom.js'></script>

</body>
<!-- END BODY -->
</html>

